@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nixie+One&family=Ovo&display=swap');
@import 'tailwindcss';
@import '@catppuccin/tailwindcss/mocha.css';

@theme {
	--font-ovo: 'Ovo', serif;
	--font-nixie: 'Nixie One', system-ui;
	--font-gugi: 'Gugi', sans-serif;

	--color-gruv-red-dim: #cc2412;
	--color-gruv-yellow-dim: #d79921;
	--color-gruv-blue-dim: #458588;
	--color-gruv-purple-dim: #b16286;
	--color-gruv-aqua-dim: #689d6a;
	--color-gruv-brown: #fffced;
	/* --color-gruv-brown: #c9ac90; */
}

:global(body) {
	background-color: #fffced;
}
